# How to perform AA and AB tests
*AB-test is shown below*

## 0. Import Libraries

In [1]:
import pandas as pd
import numpy as np
from lightautoml.addons.hypex.ABTesting.ab_tester import AATest, ABTest
from lightautoml.addons.hypex.utils.tutorial_data_creation import create_test_data

pd.options.display.float_format = '{:,.2f}'.format

np.random.seed(52) #needed to create example data

'nlp' extra dependecy package 'gensim' isn't installed. Look at README.md in repo 'LightAutoML' for installation instructions.
'nlp' extra dependecy package 'transformers' isn't installed. Look at README.md in repo 'LightAutoML' for installation instructions.
'nlp' extra dependecy package 'gensim' isn't installed. Look at README.md in repo 'LightAutoML' for installation instructions.
'nlp' extra dependecy package 'transformers' isn't installed. Look at README.md in repo 'LightAutoML' for installation instructions.

C:\Users\20810012\Desktop\Задачи\code\matcher\lightautoml\ml_algo\dl_model.py:41: UserWarning: 'transformers' - package isn't installed
  warnings.warn("'transformers' - package isn't installed")
C:\Users\20810012\Desktop\Задачи\code\matcher\lightautoml\text\nn_model.py:22: UserWarning: 'transformers' - package isn't installed
  warnings.warn("'transformers' - package isn't installed")
C:\Users\20810012\Desktop\Задачи\code\matcher\lightautoml\text\dl_transformers.py:25: UserWarning: 'transformers' - package isn't installed
  warnings.warn("'transformers' - package isn't installed")

## 1. Create or upload your dataset
In this case we will create random dataset with known effect size  
If you have your own dataset, go to the part 2

In [2]:
data = create_test_data(rs=52, na_step=10, nan_cols=['age', 'gender'])
data

Length of na_step is less than length of columns. Used last value several times

,user_id,signup_month,treat,pre_spends,post_spends,age,gender,industry
0,0,0,0,488.00,414.44,NaN,M,E-commerce
1,3,0,0,501.50,424.33,31.00,NaN,Logistics
2,10,0,0,522.50,416.22,64.00,M,E-commerce
3,12,0,0,472.00,423.78,43.00,M,E-commerce
4,13,0,0,508.50,424.22,36.00,F,E-commerce
...,...,...,...,...,...,...,...,...
5365,9991,0,0,482.50,421.89,23.00,F,E-commerce
5366,9992,0,0,491.50,424.00,44.00,M,E-commerce
5367,9994,0,0,486.00,423.78,27.00,F,Logistics
5368,9996,0,0,500.50,430.89,56.00,F,E-commerce
5369,9997,3,1,473.00,534.11,56.00,M,Logistics

## 2. AATest

### 2.0 Initialize parameters
`info_col` used to define informative attributes that should NOT be part of testing, such as user_id and signup_month <br>

In [3]:
info_cols = ['user_id', 'signup_month']
target = ['post_spends', 'pre_spends']

### 2.1 Simple AA-test
This is the easiest way to initialize and calculate metrics on a AA-test (default - on 10 iterations)<br>
Use it when you are clear about each attribute or if you don't have any additional task conditions (like grouping)

In [4]:
experiment = AATest(data=data, info_cols=info_cols, target_fields=target)

In [5]:
experiment_result, dict_of_datas = experiment.search_dist_uniform_sampling(iterations=10)

  0%|          | 0/10 [00:00<?, ?it/s]

`experiment_result` is a table of results of experiments, which includes 
- means of all targets in a and b samples, 
- p_values of Student t-test and test Kolmogorova-Smirnova, 
- and results of tests (did data on the random_state passes the uniform test)

In [6]:
experiment_result.head(3)

,random_state,post_spends a mean,post_spends b mean,post_spends ab delta %,post_spends t_test p_value,post_spends ks_test p_value,post_spends t_test passed,post_spends ks_test passed,pre_spends a mean,pre_spends b mean,pre_spends ab delta %,pre_spends t_test p_value,pre_spends ks_test p_value,pre_spends t_test passed,pre_spends ks_test passed,mean_tests_score
0,0,427.85,427.85,0.00,1.00,1.00,True,True,484.63,484.63,0.00,1.00,1.00,True,True,1.00
1,1,427.67,427.67,0.00,1.00,1.00,True,True,484.81,484.81,0.00,1.00,1.00,True,True,1.00
2,2,428.38,428.38,0.00,1.00,1.00,True,True,484.76,484.76,0.00,1.00,1.00,True,True,1.00

`dict_of_datas` is a dictionary with random_states as keys and dataframes as values.<br>
Result of separation can be find in column 'group', it contains values 'test' and 'control'

In [7]:
dict_of_datas[0].head(3)

,user_id,signup_month,treat,pre_spends,post_spends,age,gender,industry,group
0,3,0,0,501.50,424.33,31.00,NaN,Logistics,test
1,10,0,0,522.50,416.22,64.00,M,E-commerce,test
2,12,0,0,472.00,423.78,43.00,M,E-commerce,test

#### - Single experiment
To get stable results lets fix `random_state`

In [8]:
random_state = 11

To perform single experiment you can use `sampling_metrics()`

In [9]:
experiment = AATest(data=data, info_cols=info_cols, target_fields=target)
metrics, dict_of_datas = experiment.sampling_metrics(random_state=random_state).values()

The results contains the same info as in multisampling, but on one experiment

In [10]:
metrics

{'random_state': 11,
 'post_spends a mean': 427.78932340161515,
 'post_spends b mean': 427.78932340161515,
 'post_spends ab delta %': 0.0,
 'post_spends t_test p_value': 1.0,
 'post_spends ks_test p_value': 1.0,
 'post_spends t_test passed': True,
 'post_spends ks_test passed': True,
 'pre_spends a mean': 484.9912476722533,
 'pre_spends b mean': 484.9912476722533,
 'pre_spends ab delta %': 0.0,
 'pre_spends t_test p_value': 1.0,
 'pre_spends ks_test p_value': 1.0,
 'pre_spends t_test passed': True,
 'pre_spends ks_test passed': True,
 'mean_tests_score': 1.0}

In [11]:
dict_of_datas[random_state]

,user_id,signup_month,treat,pre_spends,post_spends,age,gender,industry,group
0,3,0,0,501.50,424.33,31.00,NaN,Logistics,test
1,14,0,0,497.00,421.78,26.00,M,Logistics,test
2,21,0,0,489.00,433.11,30.00,M,E-commerce,test
3,28,3,1,479.50,527.89,20.00,NaN,E-commerce,test
4,29,0,0,505.00,414.33,30.00,M,E-commerce,test
...,...,...,...,...,...,...,...,...,...
5365,9988,0,0,501.50,423.22,55.00,F,Logistics,control
5366,9990,0,0,490.00,426.00,18.00,M,E-commerce,control
5367,9991,0,0,482.50,421.89,23.00,F,E-commerce,control
5368,9992,0,0,491.50,424.00,44.00,M,E-commerce,control
5369,9996,0,0,500.50,430.89,56.00,F,E-commerce,control

### 2.2 AA-test with grouping

To perform experiment that separates samples by groups `group_col` can be used

In [12]:
info_cols = ['user_id', 'signup_month']
target = ['post_spends', 'pre_spends']

group_cols = 'industry'

In [13]:
experiment = AATest(data=data, info_cols=info_cols, target_fields=target, group_cols=group_cols)

In [14]:
experiment_result, dict_of_datas = experiment.search_dist_uniform_sampling()

  0%|          | 0/10 [00:00<?, ?it/s]

The result is in the same format as without groups

In this regime groups equally divided on each sample (test and control):

In [15]:
dict_of_datas[0].groupby(['industry', 'group'])[['user_id']].count()

                    user_id
industry   group
E-commerce control     1351
           test        1351
Logistics  control     1333
           test        1333

## 3. AB-test

### 3.0 Data
Lets correct data to see how AB-test works

In [16]:
data_ab = data.copy()

half_data = int(data.shape[0]/2)
data_ab['group'] = ['test']*half_data + ['control']*half_data
data_ab.head(3)

,user_id,signup_month,treat,pre_spends,post_spends,age,gender,industry,group
0,0,0,0,488.00,414.44,NaN,M,E-commerce,test
1,3,0,0,501.50,424.33,31.00,NaN,Logistics,test
2,10,0,0,522.50,416.22,64.00,M,E-commerce,test

### 3.1 Full AB-test

Full (basic) version of test includes calculation of all available metrics, which are: "diff in means", "diff in diff" and "cuped"<br>
Pay attention, that for "cuped" and "diff in diff" metrics requred target before pilot.

In [17]:
model = ABTest()
results = model.execute(
    data=data_ab, 
    target_field='post_spends', 
    target_field_before='pre_spends', 
    group_field='group'
)
results

{'size': {'test': 2685, 'control': 2685},
 'difference': {'ate': 0.9805090006207325,
  'cuped': 0.9764245308837189,
  'diff_in_diff': 0.39224084419458904},
 'p_value': {'t_test': 0.20533212744131019,
  'mann_whitney': 0.08089945933651932}}

To see results in more convenient way `show_beautiful_result` can be used

In [18]:
model.show_beautiful_result()

         size
test     2685
control  2685

              difference
ate                 0.98
cuped               0.98
diff_in_diff        0.39

              p_value
t_test           0.21
mann_whitney     0.08

### 3.2 Simple AB-test
To estimate effect without target data before pilot `calc_difference_method='ate'` can be used - effect will be estimated with "diff in means" method

In [19]:
model = ABTest(calc_difference_method='ate')
model.execute(data=data_ab, target_field='post_spends', group_field='group')

model.show_beautiful_result()

         size
test     2685
control  2685

     difference
ate        0.98

              p_value
t_test           0.21
mann_whitney     0.08